{deps, [
        {'bstr', ".*", {git, "git@github.com:jcomellas/bstr.git", {tag, "v0.2.0"}}},
        {'erlcql', ".*", {git, "git@github.com:rpt/erlcql.git", {tag, "0.2.0"}}},
        {'proper', ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
]}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
