{deps, [
        {'bstr', ".*", {git, "git@github.com:jcomellas/bstr.git", {tag, "v0.2.0"}}},
        {'erlcql_cluster', ".*", {git, "git@github.com:joinbrain/erlcql_cluster.git", {branch, "master"}}},
        {'hope', ".*", {git, "git@github.com:ibnfirnas/hope.git", {tag, "1.3.0"}}},
        {'proper', ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
]}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
