 [{lager, [
          {colored, true},
          {handlers, [
                      {lager_console_backend, warning },
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, debug}]}
                     ]},
           {error_logger_hwm, undefined}
        ]},
 {folsomite, [
              {graphite_host, "192.168.59.103" },
              {graphite_port, 2003},
              {flush_interval, 10 }
             ]},

 {folsom, [
           {enabled_metrics, [median, {percentile, [75, 95, 99]},
                              arithmetic_mean, min, max, n, histogram,
                              standard_deviation]}
          ]}
 ].
