%%% -*- mode: erlang -*-
%%% vim: set filetype=erlang:
{release, {freya, "0.1.0"},
 [
    freya,
    runtime_tools,
    tools
]}.

{generate_start_script, false}.
{extended_start_script, true}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/freyatool", "erts-{{ erts_vsn }}/bin/freyatool"},
           {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {template, "files/app.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {template, "files/advanced.config", "releases/\{\{rel_vsn\}\}/advanced.config"},
           {template, "files/freya", "bin/freya"},
           {template, "files/freya-admin", "bin/freya-admin"}
           ]}.
