{sys, [
       {lib_dirs, ["../../", "../deps/"]},
       {rel, "freya", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         freya
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "freya"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, freya, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "freya"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/freya", "bin/freya"},
           {template, "files/freya-admin", "bin/freya-admin"}
           ]}.
